.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navContainer {
  width: 100%;
  font-family: var(--font-dm-sans);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  flex-direction: row;
  position: fixed;
  top: 0;
  z-index: 2;
  color: white;
}

.takeAction {
  max-width: 157px;
  /* width: 10%; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  right: 2%;
}

.takeAction a {
  max-width: 157px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ededed;
  border-radius: 2rem;
  padding: 0.875rem 1rem;
}

.pageLinks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.heroContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  /* overflow: hidden; */
  position: relative;
  background: rgb(25,25,25);
  background: radial-gradient(circle, rgba(25,25,25,1) 0%, rgba(25,25,25,0) 85%);
}

@media (max-width: 1400px) {
  .heroContainer {
    align-items: center;
  }

}

.fistImage {
  transition: transform 0.3s ease-in-out;
  /* max-width: 381px; */
  height: auto;
  width: 60%;
}

.blur img {
  height: auto;
  width: 100%;
}

.heroContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

.fistContainer {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.hndsup {
  width: 100%;
  height: auto;
}

.titleContainer {
  width: 40%;
  max-width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.titleContainer h3 {
  text-align: center;
  font-family: var(--font-dm-sans);
}

.titleContainer > span {
  font-family: var(--font-silk-serif-extra-light-italic);
  margin-bottom: 1rem;
}

.titleSubline {
  font-family: var(--font-rational-tw-display-light);
  letter-spacing: 3%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.heroVideo {
  max-width: 300px;
  min-height: 85px;
  width: 100%;
  height: auto;
  font-size: 1rem;
  background-color: black;
  border: #ededed 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.playGraphic {
  max-width: 82px;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-right: #ededed 1px solid;
}

.playGraphic span {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #ededed;
  border-bottom: 15px solid transparent;
}

.videoText {
  max-width: 224px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.videoText span {
  font-family: var(--font-dm-sans);
  color: white;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  color: #ebebeb;
}

.footerContent {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
}

.footerText {
  width: 100%;
  height: auto;

  font-family: var(--font-rational-tw-display-light);
}

.footerLogoContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.footerLogoContainer a {
  margin-left: 2%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
