.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navContainer {
  width: 100%;
  font-family: var(--font-dm-sans);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  flex-direction: row;
}

.takeAction {
  width: 10%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  right: 2%;
}

.takeAction a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EDEDED;
  border-radius: 2rem;
  padding: 0.875rem 1rem ;
}

.pageLinks {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.heroContainer {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}

.fistImage {

  transition: transform 0.3s ease-in-out;
  max-width: 762px;
  height: auto;
  width: 100%;
}

.blur {
  transform: scale(0.5); 
  transition: transform 0.3s ease-in-out; 
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.heroContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fistContainer {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.titleContainer {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleContainer h4 {
  text-align: center;
  font-family: var(--font-dm-sans);
}

.titleSubline {
  font-family: var(--font-rational-tw-display-light);
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
}

.heroVideo {
  max-width: 300px;
  min-height: 85px;
  width: 100%;
  height: auto;
  font-size: 1rem;
  background-color: black;
  border: #EDEDED 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.playGraphic {
  max-width: 82px;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-right: #EDEDED 1px solid;
}

.playGraphic span {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 20px solid #EDEDED;
  border-bottom: 15px solid transparent;
}

.videoText {
  font-family: var(--font-dm-sans);
  max-width: 224px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  color: #EBEBEB;
}

.footerContent {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  width: 100%;
  height: auto;

}

.footerLogoContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {

}
