.scrollNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100px;
    position: absolute;
    bottom: 0;

    z-index: 1;
}

@media (max-width: 800px) {
    .scrollNav {

        /* width: 50%!important;
        max-width: 140px!important; */
        /* height: 65px!important; */
    }

    .scrollNavButton {
        height: 100px!important;
        justify-content: end!important;
    }
    .scrollNavButton button{
        /* margin-bottom: 3%; */
    }

    .scrollNavButtonSpacer {
        height: 40px!important;
    }

    .scrollNavButton img {
        width: 30%!important;
        bottom: 20%!important;
    }
}

.scrollNavButton {
    width: 60px;
    height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.scrollNavButton img {
    max-width:41.5px;
    width: 50%;
    height: auto;
    /* display: flex; */
    opacity: 0;
    position: relative;
    bottom: 35%;
}

.scrollNavButton img.setActive {
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.scrollNavButton button {
    width: 7px;
    height: 7px;
    max-width: 7px;
    max-height: 7px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.25;
    transition: all 0.3s ease-in-out;
    position: relative;
    /* bottom: 3%; */
    /* margin-bottom: 60%; */
    /* display: flex; */
}

.scrollNavButtonSpacer {
    width: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.scrollNavButton button.setActive {
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.hide {
    display: none;
}