.scrollNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media (max-width: 800px) {
    .scrollNav {

        /* width: 50%!important;
        max-width: 140px!important; */
        /* height: 65px!important; */
    }

    .scrollNavButton img {
        bottom: 6%!important;
    }
}

.scrollNavButton {
    width: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scrollNavButton img {
    width: 50%;
    height: 50%;
    /* display: flex; */
    opacity: 0;
    position: relative;
    bottom: 35%;
}

.scrollNavButton img.setActive {
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.scrollNavButton button {
    width: 7px;
    height: 7px;
    background-color: #D9D9D9;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.25;
    transition: all 0.3s ease-in-out;
    position: relative;
    bottom: 3%;
    /* display: flex; */
}

.scrollNavButton button.setActive {
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
}

.hide {
    display: none;
}